.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  transition: background-color 0.1s;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  text-decoration: none;
  cursor: pointer;
}

.link-button:hover {
  color: #000;
  background-color: #fff;
}
