.four-zero-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  position: relative;
}

.four-zero-four__title {
  font-size: 4rem;
}

@media screen and (max-width: 768px) {
  .four-zero-four__title {
    font-size: 2rem;
  }
}
