.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../public/monika-grabkowska-unsplash.jpg");
  background-size: 4000px 6000px;
  background-position: 0px 0px;
}
