.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
  position: relative;
}

.order__link-button-svgs {
  display: flex;
}

@media screen and (max-width: 768px) {
  .order__link-button-svgs {
    flex-direction: column;
  }
}
