.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../public/jarritos-mexican-soda-unsplash-potato.jpg");
  background-size: cover;
  background-position: center;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 4rem;
}

.order__link-button-svgs {
  display: flex;
}

@media screen and (max-width: 768px) {
  .order__link-button-svgs {
    flex-direction: column;
  }
}
