.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  cursor: pointer;
}

.footer svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 5px;
}
