.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__svg {
  fill: rgba(255, 255, 255, 1);
  margin-right: 5px;
  cursor: pointer;
}

.footer__link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  cursor: pointer;
}
