.nav-bar-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.6);
  border-right: 1px solid #fff;
  transition: background-color 0.1s;
  cursor: pointer;
}

.nav-bar-link:hover {
  color: #000;
  background-color: #fff;
}

.nav-bar-link--active {
  color: rgba(255, 255, 255, 1);
}
